<div class="contianer">
  <div class="detail-card">
    <div class="img">
      <%= image_tag @product.image.to_s %>
    </div>
    <div class="inner-text">
      <div class="text">
        <h3><%= @product.name %></h3>
        <p><%= @product.description %></p>
        <p class="value">¥<%= @product.price %></p>
      </div>
      <div class="btn">
        <button>
          <%= link_to product_cart_products_path(@product), method: :post do %>
            <i class="fas fa-cart-plus"></i>
            <span>買い物カゴに入れる</span>
          <% end %>
        </button>
        <button><%= link_to "編集", edit_product_path %></button>
        <button><%= link_to "この商品を削除する", product_path, method: :delete, data: { confirm: '削除しますか？' } %></button>
      </div>
    </div>
  </div>
</div>