<div class="contianer">
  <div class="detail-card">
    <div class="img">
      <%= image_tag @product.image.to_s %>
    </div>
    <div class="inner-text">
      <div class="text">
        <h3><%= @product.name %></h3>
        <p><%= @product.description %></p>
        <p class="value">¥<%= @product.price %></p>
      </div>
      <div class="btn">
        <%= link_to product_cart_products_path(@product), method: :post, class: "add-to-cart-btn" do %>
          <i class="fas fa-cart-plus"></i>
          <span>買い物カゴに入れる</span>
        <% end %>
        <% if current_user.admin %>  <%# 管理者のみに表示させている %>
          <%= link_to edit_product_path, class: "add-to-cart-btn" do %>
            <span>編集</span>
          <% end %>
          <%= link_to product_path, method: :delete, data: { confirm: '削除しますか？' }, class: "add-to-cart-btn" do %>
            <span>この商品を削除する</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>