<!DOCTYPE html>
<html>
  <head>
    <title>EcAppCodeship</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= image_tag "logo.svg" %>
      </h1>
      <nav>
        <ul class="nav-items">
          <% if current_user %><%# current_userがnilかexistか %>
            <li>ようこそ、<%= current_user.name %>さん！</li>
            <li>
              <%= link_to new_product_path do %>
                <i class="far fa-plus-square"></i>
                <span>商品の登録</span>
              <% end %>
            </li>
            <li>
              <%= link_to products_path do %>
                <i class="fas fa-store"></i>
                <span>商品を探す</span>
              <% end %>
            </li>
            <li>
              <%= link_to cart_products_path do %>
                <i class="fas fa-shopping-cart"></i>
                <span>カート</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
                <span>Log out</span>
              <% end %>
            </li>
          <% else %>
            <li>ようこそ、ゲストさん！</li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i>
                <span>Log in</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>
                <span>Sign up</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <% if flash.present? %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: key) %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
