<!DOCTYPE html>
<html>
  <head>
    <title>EcAppCodeship</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= image_tag "logo.svg" %>
      </h1>
      <nav>
        <ul class="nav-items">
          <li><%= link_to 'Home', root_path  %></li>
          <li><%= link_to 'About', "#" %></li>
        </ul>
      </nav>
    </header>
    <% if flash.present? %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: key) %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
