<!DOCTYPE html>
<html>
  <head>
    <title>EcAppCodeship</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= image_tag "logo.svg" %>
      </h1>
      <nav>
        <ul class="nav-items">
          <% if current_user %><%# current_userがnilかexistか %>
            <li>ようこそ、<%= current_user.email %>さん！</li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li>ようこそ、ゲストさん！</li>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <% if flash.present? %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: key) %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
